#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b8a897;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 3rem auto 0 auto;
  padding: 28px;
  display: flex;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(5, 5, 5, 0.08);
  background-color: #b6af8cce;
  flex-direction: column;
  gap: 16px;
}

p {
  font-size: 20px;
}

h1 {
  font-size: 36px;
  color: #0a4550;
  text-align: center;
  margin-bottom: 32px;
} 

form {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

input,
textarea {
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #69590a8c;
  font-size: 24px;
  font-family: inherit;
  box-sizing: border-box;
  background-color: #e2e2e1ab;
}

.submit {
  padding: 14px;
  max-width: max-content;
  border-radius: 8px;
  border: 1px solid #d3d2d2;
  font-family: inherit;
  box-sizing: border-box;
}

button {
  background-color: #2a585e;
  color: rgb(255, 252, 252);
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  margin-right: 12px;
}

button:hover {
  background-color: #042f35;
}

.link-card {
  background-color: #a7927a98;
  border: 1px solid #94908e;
  border-radius: 8px;
  padding: 16px;
  margin-top: 24px;
  font-size: 20px;
}

.link-card h3 {
  margin: 0;
  font-size: 24px;
  color: #bbccce;
}

.link-card a {
  color: #17464e;
  text-decoration: none;
}

@media (max-width: 1280px) {
  h1 {
    font-size: 1.25rem;
  }

  .container {
    padding: 1rem;
  }

  .link-card {
    padding: 0.75rem;
  }

  .link-card button {
    font-size: 0.9rem;
    width: 100%;   }

   button {
    font-size: 1rem;
    padding: 0.6rem 1rem;
  }
}

